@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-family: monospace, monospace;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    min-height: 100vh;

    background-color: black;
    color: white;

    #__next, main {
        min-height: 100vh;
    }
}

h1 {
    @apply text-5xl;
}
h2 {
    @apply text-4xl;
}
h3 {
    @apply text-2xl;
}
h4 {
    @apply text-xl;
}
h5 {
    @apply text-lg;
}
h6 {
    @apply text-base;
}

.cli-doc-markdown {
    @apply flex-grow px-6;

    h2, h3, h4, h5, h6, p {
        @apply my-3;
    }

    a {
        @apply underline;

        &:hover {
            @apply font-bold;
        }
    }
}

.guide-markdown {
    h2, h3, h4, h5, h6 {
        @apply my-6;
    }

    p {
        @apply text-lg my-3;
    }

    a {
        @apply underline;

        &:hover {
            @apply font-bold;
        }
    }

    ul {
        @apply list-disc pl-6;
    }

    pre {
        @apply rounded bg-gray-500 px-1 py-2 text-black;
    }
}

.hero {
    background-image: url("/images/arrows.svg");
    background-size: contain;
}
